<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- My CSS -->
	<link rel="stylesheet" href="{{ url_for('static',filename='styleclient.css') }}">
  <script src="https://kit.fontawesome.com/6f9947e6cf.js" crossorigin="anonymous"></script>
	<title>Weapon Detection| Client List </title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='security1.png') }}">
</head>
<body>


	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			<i class="fa-solid fa-shield-halved"></i>
			<span class="text">Weapon Detection</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="\admin_dashboard">
					<i class="fa-solid fa-table-columns"></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="Adminhistory">
					<i class="fa-solid fa-clock-rotate-left"></i>
					<span class="text">Detection History</span>
				</a>
			</li>
      <li>
				<a href="#">
					<i class="fa-solid fa-clock-rotate-left"></i>
					<span class="text">Client List</span>
				</a>
			</li>


		</ul>
		<ul class="side-menu">
			<li>
				<a href="\Adminlogin" class="logout">
					<i class="fa-solid fa-arrow-right-from-bracket"></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->

		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Weapon Detection in a Real Time CCTV </h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#">Client List</a>
						</li>
					</ul>
				</div>

			</div>
      <div class="hist">
        <table>
          <tr>
						<th>client email</th>
            <th>Client Name</th>
            <th>No Of Camera</th>
            <th>No of Detections</th>
          </tr>
          {% for row in data %}
            <tr>
            {% for cell in row %}
                <td>{{ cell }}</td>

            {% endfor %}
            </tr>
          {% endfor %}

      </table>
      </div>

		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->


	<!--<script src="script.js"></script>-->
</body>
</html>
