<<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
  <script src="https://kit.fontawesome.com/6f9947e6cf.js" crossorigin="anonymous"></script>
  <title>Weapon Detection </title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='security1.png') }}">
</head>
  <body>
    <div class="banner">

      <div class="content">
        <h1>Real Time Weapon Detection</h1>
        <p>Weapon Detection in Real-time video footage <br> using OpenCV and Machine Learning</p>
        <div>
          <button type="button" name="button1" onclick="window.location.href ='login'"><span></span>Client Login</button>
          <button type="button" name="button2" onclick="window.location.href ='Adminlogin'"><span></span>Admin Login</button>
        </div>
      </div>

    </div>

  </body>
</html>
